# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.iws
out/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest Cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Encrypted files
*.key

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor backups and temp files
*~
*.swp
*.swo
*.tmp
*.bak
*.orig
*.sublime-workspace

# Logs
*.log
*.gz
*.txt
